.col1{
    background-color: aqua;
    height: 100vh;
}
.col2{
    background-color: palevioletred;
    height: 100vh;
}
.col3{
    background-color: orangered;
    height: 100vh;
}
.col4{
    background-color: green;
    height: 100vh;
}